
%h3 Teacher login
= form_with url: login_admin_index_path, method: :post, class: "w-50" do |f|
  .mb-3
    %label.form-label Email
    = f.text_field :email, class: "form-control"
  .mb-3
    %label.form-label Password
    = f.text_field :password,  class: "form-control"
  = f.submit "Login", class: "btn btn-primary float-end"
